.hero-image {
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .hero-image {
    height: 25vh !important;
  }

  #carousel-area .carousel-indicators {
    bottom: 5px;
  }

  #carousel-area .carousel-indicators li {
    width: 20px;
    height: 5px;
  }
}

#portfolios2 {
  padding-top: 0;
}
